<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(0, 0, 0, 0.1);">
  <div class="container">
      <a class="navbar-brand" href="/">
          <img src="/images/logo.png" height="48" alt="Cloud logo" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                  <a class="nav-link <%= activePage === 'home' ? 'active text-primary fw-semibold' : '' %>" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link <%= activePage === 'search' ? 'active text-primary fw-semibold' : '' %>" href="/search">Search</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link <%= activePage === 'news' ? 'active text-primary fw-semibold' : '' %>" href="/news">News</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link <%= activePage === 'aircraft' ? 'active text-primary fw-semibold' : '' %>" href="/aircraft">Aircrafts</a>
              </li>
              <% if (user) { %>
                <li class="nav-item">
                    <a class="nav-link <%= activePage === 'history' ? 'active text-primary fw-semibold' : '' %>" href="/history">History</a>
                </li>
              <% } %>
          </ul>
          <div class="d-flex ms-auto">
              <% if (!user) { %>
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/signup" class="btn btn-secondary ml-2">Sign up</a>
              <% } else { %>
                <a href="<%= user.is_admin ? '/admin' : '' %>" class="btn btn-primary rounded-3"><%= user.username %></a>&nbsp;&nbsp;
                <a href="/logout" class="btn btn-secondary">Logout</a>
              <% } %>
          </div>
      </div>
  </div>
</nav>
